<%= provide(:page_title, 'All Posts') %>
<%= provide(:posts_active, 'active') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">posts.</h1>
    <p class="lead">read a little about my perspective on some interesting topics.</p>
  </div>
</div>

<div class="container post-container">
  <% @posts.in_groups_of(4, false).each do |group| %>
  <div class="row">
    <% group.each do |f| %>
    <div class="col-md-3 col-sm-12">
      <div class="card">
        <img class="card-img-top" src='<%= f.image_url %>'>
        <div class="card-body">
          <h4 class="card-title"><%= f.title %></h4>
          <p class="card-text"><%= truncate(f.description, length: 130) %></p>
          <div class="read-more-button text-center">
            <%= link_to "Read More", f, class: "btn btn-sm btn-outline-primary" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
