<%= provide(:page_title, 'All Posts') %>
<%= provide(:posts_active, 'active') %>

<% @posts.in_groups_of(4, false).each do |group| %>
  <div class="row">
    <% group.each do |f| %>
      <div class="col s12 m3">
        <%= link_to f do %>
        <div class="card">
            <div class="card-image">
              <img src='<%= f.image_url %>'>
              <span class="card-title"><%= f.title %></span>
            </div>
            <div class="card-content">
              <%= truncate(f.content, length: 130) %>
            </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
