<%= form_for(post, url: url) do |f| %>
  <div class="row equal">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item list-group-header">
          <% if @post.new_record? %>
            <h4>New Post</h4>
          <% else %>
            <h4>Edit: <span class="light-text"><%= @post.title %></span></h4>
          <% end %>
        </li>
        <li class="list-group-item">
          <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control', required: true %>
          </div>
        </li>
        <li class="list-group-item">
          <div class="field">
            <%= f.label :image_url %>
            <%= f.text_field :image_url, class: 'form-control', required: true %>
          </div>
        </li>
        <li class="list-group-item">
          <div class="field">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control', rows: 6 %>
          </div>
        </li>
      </ul>
      <div class="actions">
        <%= link_to 'Back', admins_posts_path, class: 'btn btn-default btn-sm custom-form-submit-btn' %>
        <%= f.submit "Save", class: "btn btn-default btn-sm custom-form-submit-btn" %>
        <% if @post.persisted? %>
          <%= link_to 'Show', post_path(@post), class: 'btn btn-default btn-sm custom-form-submit-btn' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 tinymce-content">
      <div class="field">
        <!-- <%= f.label :content %> -->
        <%= f.text_area :content, class: 'tinymce' %>
        <%= tinymce %>
      </div>
    </div>
  </div>
<% end %>
