<%= provide(:page_title, 'My Projects') %>
<div class="container project-admin-container">
  <table class="table table-hover">
    <thead class="thead">
      <tr>
        <th class="table-header" colspan="5">project titles.</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, admins_project_path(project) %></td>
        <td></td>
        <% if project.published? %>
          <td><%= link_to 'Unpublish', unpublish_admins_project_path(project), method: :put, class: 'btn btn-sm btn-outline-primary' %></td>
        <% else %>
          <td><%= link_to 'Publish', publish_admins_project_path(project), method: :put, class: 'btn btn-sm btn-outline-success' %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_admins_project_path(project), class: 'btn btn-sm btn-outline-warning' %></td>
        <td><%= link_to 'Delete', admins_project_path(project), method: :delete, class: 'btn btn-sm btn-outline-danger' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="new-project-button-div">
    <%= link_to new_admins_project_path, class: 'btn btn-sm btn-outline-primary' do %>
      New project
    <% end %>
  </div>
</div>
