<%= provide(:page_title, 'All Projects') %>
<%= provide(:projects_active, 'active') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container">
  <% @projects.each do |f| %>
  <div class="col-md-12">
    <div class="row row-eq-height">
        <div class="project-card">
          <div class="col-md-3 float-left">
            <h4><%= f.title %></h4>
            <!-- <div class="project-image" class="float-left" style="background-image: url('<%= f.card_image_url %>')"></div> -->
            <img src='<%= f.card_image_url %>'>
          </div>
          <div class="col-md-9 float-right">
            <p><%= truncate(f.content, length: 500) %></p>
          </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
