<%= provide(:page_title, 'All Projects') %>
<%= provide(:projects_active, 'active') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container">
  <% @projects.each do |f| %>
  <div class="row">
    <div class="col-sm-12 offset-lg-1 offset-md-1 col-md-12">
        <div class="project-card">
          <div class="col-md-3">
            <h4><%= f.title %></h4>
            <img class="float-left" src='<%= f.card_image_url %>'>
          </div>
          <div class="cold-md-9">
            <p><%= truncate(f.content, length: 250) %></p>
          </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
