<%= provide(:page_title, 'Admin Account') %>
<%= provide(:account_active, 'active') %>

<div class="container">
  <div class="row">
    <!-- Basic Info -->
    <div class="col-md-6">
      <%= form_tag admins_info_path, method: :put do %>
        <%= fields_for :admin do |f| %>
          <div class="card">
            <div class="card-block">
              <h4 class="card-title text-center">
                Basic Info
              </h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" >
                <div class="field">
                  <%= f.label :name %></br>
                  <%= f.text_field :name, value: current_admin.name, class: 'form-control', autofocus: true %>
                </div>
              </li>
              <li class="list-group-item" >
                <div class="field">
                  <%= f.label :email %></br>
                  <%= f.text_field :email, value: current_admin.email, class: 'form-control', autofocus: true %>
                </div>
              </li>
              <li class="list-group-item" >
                <div class="field">
                  <%= f.submit "Update Info", class: 'btn waves-effect waves-light submit_button' %>
                </div>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- Change Password -->
    <div class="col-md-6">
      <%= form_tag admins_change_password_path, method: :put do %>
        <%= fields_for :admin do |f| %>
          <div class="card">
            <div class="card-block">
              <h4 class="card-title text-center">
                Change Password
              </h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="field">
                  <%= f.label :current_password %></br>
                  <%= f.password_field :current_password, class: 'form-control', autofocus: true %>
                </div>
              </li>
              <li class="list-group-item">
                <div class="field">
                  <%= f.label :new_password %></br>
                  <%= f.password_field :new_password, class: 'form-control', autofocus: true %>
                </div>
              </li>
              <li class="list-group-item">
                <div class="field">
                  <%= f.label :new_password_confirmation %></br>
                  <%= f.password_field :new_password_confirmation, class: 'form-control', autofocus: true %>
                </div>
              </li>
              <li class="list-group-item">
                <div class="field">
                  <%= f.submit "Change Password", class: 'btn waves-effect waves-light submit_button' %>
                </div>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
