<nav class="navbar navbar-expand-lg fixed-top">
  <%= link_to root_path, class: 'navbar-brand' do %>
    austin
  <% end %>
  <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'blog', posts_path, class: "nav-link #{yield(:posts_active)}"%>
      </li>
      <li class="nav-item">
        <%= link_to 'current projects', projects_path, class: "nav-link #{yield(:projects_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to resume_path, class: "nav-link #{yield(:resume_active)}" do %>
         r&eacute;sum&eacute;
        <% end %>
      </li>
      <% if admin_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_admin.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'my posts', admins_posts_path, class: "dropdown-item" %>
            <%= link_to 'my projects', admins_projects_path, class: "dropdown-item" %>
            <%= link_to admins_resume_index_path, class: "dropdown-item" do %>
              my r&eacute;sum&eacute;
            <% end %>
            <%= link_to 'account', admins_account_path, class: "dropdown-item" %>
            <%= link_to 'logout', destroy_admin_session_path, method: :delete , class: "dropdown-item"%>
          </div>
        </li>
        <% end %>
    </ul>
  </div>
</nav>
